*.pyc
mod/*.pyc
custom/*.pyc
muninrc
munin.service
botlog
pid.*
TAGS
*~
nbproject
botlog.*
clickatell.py
tags
dumps
alliance_listing.txt
galaxy_listing.txt
planet_listing.txt
stale_ticks.txt
user_feed.txt
.venv
clickatell.py.bak
env
munin.log*
hugin.log*
